
<div class="scrollable" >
    <div class="section scrollable-header">
           <h2 class="page-header">Help &amp; About</h2> 
    </div>
    <div class="section scrollable-content">
  <p>Welcome to the Fashion Image Database for 'Sociology of Fashion'</p>
  <h3>Encounters</h3>
    <p>Encounters are the main category of data. An encounter represents an instance of you meeting with, photographing and recording the relevant details of a research subject (person).</p>
    <h4>Theme</h4>
    <p>Choose from the existing themes or make your own.</p>
    <h4>Tags</h4>
    <p>You can apply upto 5 tags. These represent characteristics of the subject which they may share with others.</p>
    <h4>Clothing</h4>
    <p>Add details about the items of interest.</p>
    <h4>Images</h4>
    <p>The most important bit! First save the Encouter details. The subject agreement must have been ticked. After saving, you can add images. Tap the <i class="fa fa-plus" ></i> icon in the images section, then use the upload or capture buttons to upload or take+upload images. After uploading, you can manage the images and add a detail comment to any of them or delete any you no longer require.</p>
    
    <hr>
    <h3>About &amp; Credits</h3>
    <p>Concept: Sophie Woodward</p>
    <p>Development: Philip Styles and Emmett Flynn.</p>
    <hr>
    <p>SFI was developed over several months by the two developers named above. It uses a <a href="//apigility.org" >Zend Apigility</a> api to handle provision of data resources and the <a href="//angularjs.org" >Angular javascript framework</a> for the client user interface.</p>
    </div>
</div>