<section class="section container-fluid">
  
  <a class="btn btn-block" href="#/encounter-edit" ><i class="fa fa-plus"></i> New Encounter</a>
  <a class="btn btn-block" href="#/encounters/my" ><i class="fa fa-list"></i> My Encounters</a>
  <a class="btn btn-block" href="#/encounters" ><i class="fa fa-list"></i> Encounters</a>
    
  <hr>
  <a class="btn btn-block" href="#/themes" ><i class="fa fa-eye"></i> Themes</a>
  <a class="btn btn-block" href="#/tags" ><i class="fa fa-tags"></i> Tags</a>
    
    <div ng-show="$root.me.IS_ADMIN" >
       <hr>
       <a href="#/approval-list" ><i class="fa fa-check" ></i><i class="fa fa-close" ></i> encounter approval</a>
    </div>
    
  </section>
</section>